<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803177941128-ujss44tjaunercuefbv9v3vihk8hloje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803177941128-ujss44tjaunercuefbv9v3vihk8hloje</string>
	<key>API_KEY</key>
	<string>AIzaSyAxTx8VPA-IEHKS7nZfvPs9_sL5bgeF5Og</string>
	<key>GCM_SENDER_ID</key>
	<string>803177941128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pace.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pace-fb2fc</string>
	<key>STORAGE_BUCKET</key>
	<string>pace-fb2fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803177941128:ios:b793cc2528f392a3ff373d</string>
</dict>
</plist>